<!DOCTYPE html>
<html>
<head>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-ui-utils/ui-utils.min.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="lib/underscore/underscore-min.js"></script>
  <script src="lib/js-yaml/dist/js-yaml.min.js"></script>
  <script src="lib/oauth-js/dist/oauth.js"></script>
  <script src="lib/octokit/octokit.js"></script>
  <script src="lib/d3/d3.min.js"></script>
  <script src="js/melt.js"></script>

  <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="MeltApp">
  <div ng-controller="MeltController" class="container-fluid">
    <div class="row start" style="margin-top:23%;margin-bottom:0.5em;">
      <div class="col-md-8">
        <input
          id="search"
          class="input-lg"
          style="z-index:10; width:100%"
          type="text"
          ng-model="query"
          ng-change="update_results()"
          ui-keydown="{'enter down up esc': 'query_key($event)'}"
          placeholder="Search for Songs"
        >
        <div class="search-results">
          <ul id="search-list">
            <li
                ng-repeat="melt in results"
                ng-click="select(melt)"
                ng-class="{'selected': $index == ready_to_select}"
                ng-mouseover="mouseover($index)"
                ng-mouseleave="mouseleave($index)"
            >
              {{ melt.title }}
            </li>
            <li ng-show="results.length == 0 && query.length > 3 && github">
              <button ng-click="start_add()"
                      class="btn btn-success"
                      style="width:100%;">
                Add "{{ query }}" to your fork!
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4" ng-show="!github">
        <button ng-click="login()" class="btn btn-primary">
          <img src="img/octocat.png" />
          Connect with Github
        </button>
      </div>
    </div><!-- row #start -->
    <div class="row song-meta-container" ng-show="song_meta">
      <pre class="col-md-6" id="song-meta"></pre>
      <div class="col-md-6 tube-container" ng-show="tube_url">
        <iframe id="ytplayer" type="text/html" width="213" height="120"
              allowfullscreen="true"
              ng-src="{{ tube_url }}"
              frameborder="0"></iframe>
      </div>
    </div>
    <div class="row">
      <div class="song" ng-show="song_data">
      <!-- if contenteditable, angular gets it messed up, so we set directly -->
        <pre id="pre-song" contenteditable="true"></pre>
      </div>
    </div>
  </div><!-- MeltController -->
</body>
</html>
