<!DOCTYPE html>
<html ng-app="MeltApp" ng-controller="MeltController">
<head>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-ui-utils/ui-utils.min.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="lib/angular-local-storage/angular-local-storage.min.js"></script>
  <script src="lib/angular-contenteditable/angular-contenteditable.js"></script>
  <script src="lib/underscore/underscore-min.js"></script>
  <script src="lib/js-yaml/dist/js-yaml.min.js"></script>
  <script src="lib/oauth-js/dist/oauth.js"></script>
  <script src="lib/octokit/octokit.js"></script>
  <script src="lib/jsdiff/diff.js"></script>
  <script src="lib/d3/d3.min.js"></script>
  <script src="lib/cryptojslib/rollups/md5.js"></script>
  <script src="js/melt.js"></script>

  <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=0.48" />
  <title>{{ selected.title || "Meltodies" }}</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row start" style="margin-top:23%;margin-bottom:0.5em;">
      <div class="col-lg-8">
        <input
          id="search"
          class="input-lg"
          style="z-index:10; width:100%"
          type="text"
          ng-model="query"
          ng-change="update_results()"
          ui-keydown="{'enter down up esc': 'query_key($event)'}"
          placeholder="Search for Songs"
          autocomplete="off"
        >
        <div class="search-results">
          <ul id="search-list">
            <li
                ng-repeat="melt in results"
                ng-click="select(melt)"
                ng-class="{'selected': $index == ready_to_select}"
                ng-mouseover="mouseover($index)"
                ng-mouseleave="mouseleave($index)"
            >
              <span>{{ melt.title }} {{ melt.version.slice(0, 4) }}</span>
            </li>
            <li ng-show="results.length == 0 && query.length > 3 && github">
              <button ng-click="start_add()"
                      class="btn btn-success"
                      style="width:100%;">
                Add "{{ query }}" to your fork!
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-lg-2">
        <button ng-click="select_random_song()" class="btn btn-random"
                style="background:transparent;">
          <img src="img/random-icon.png" title="Select Random Song" />
        </button>
      </div>
      <div class="col-xs-6 col-lg-2">
        <button ng-show="!github" ng-click="login()" class="btn btn-primary btn-random">
          <img src="img/octocat.png" title="Connect with Github" />
        </button>
      </div>


    </div><!-- row #start -->
    <div class="row song-meta-container" ng-show="song_meta">
      <pre class="col-xs-6 col-lg-4" id="song-meta"></pre>
      <div class="col-xs-6 col-lg-4" id="tube-container" ng-show="tube_id"></div>
    </div>
    <div class="row">
      <div class="song" ng-show="song_data">
        <!-- if contenteditable, angular gets it messed up, so we set directly -->
        <pre id="pre-song"
             contenteditable="true"
             ng-change="edit_song()"
             ng-model="song_data"
             ui-keydown="{'enter': 'keypress_song($event)'}"
        ></pre>
      </div>
    </div>
    <div class="row" ng-show="song_edited && !github" style="margin-top:5px;">
      <div class="col-xs-12">
        <h1>Connect with Github to Save Changes</h1>
        <button ng-click="login()" class="btn btn-primary">
          <img src="img/octocat.png" />
          Connect with Github
        </button>
      </div>
    </div>
    <div class="row" ng-show="song_edited && github" style="margin-top:5px;">
      <div class="col-xs-12">
        <button ng-click="edit_song_pr()"
                class="btn btn-success btn-lg"
                style="width:100%;">
          Submit Changes as Pull Request
        </button>
      </div>
    </div>
    <div class="row" ng-show="song_edited && github" style="margin-top:5px;">
      <div class="col-xs-12">
        <pre id="display" class="col-xs-12" style="border: 2px solid black;"></pre>
      </div>
    </div>
  </div><!-- MeltController -->
</body>
</html>
