PyYAML==3.11
Scrapy==0.24.4
Twisted==14.0.0
cffi==0.8.6
characteristic==14.1.0
cryptography==0.5.4
cssselect==0.9.1
gnureadline==6.3.3
google-api-python-client==1.2
httplib2==0.9
ipython==2.2.0
lxml==3.3.6
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
queuelib==1.2.2
retrying==1.2.3
service-identity==14.0.0
six==1.7.3
w3lib==1.10.0
wsgiref==0.1.2
zope.interface==4.1.1
