<div class="modal-header">
  <h3 class="modal-title">Playlist</h3>
  <p>Current playlist: {{ currentPlaylist }}</p>
  <ul id="playlist-songs-container">
    <li ng-repeat="song in playlists[currentPlaylist]">
        <span>{{ song.title }}, {{ song.author }}</span>
    </li>
  </ul>
</div>

<div class="modal-body">
  <div id="playlist-container">
      <ul id="playlist-list">
          <li ng-repeat="(list_name, list_val) in playlists">
              <a ng-click="selectPlaylist(list_name)">
                  <span>{{ list_name }}</span>
              </a>
          </li>
      </ul>
  </div>

  <form role="form">
    <input class="form-control"
           ng-model="data.playlist_name"
           ui-keydown="{'enter': 'create()'}"
           placeholder="New Playlist">
  </form>
</div>
